#################################
# ENV / SECRET
#################################
.env
.env.*
firebase-service-account.json
*service-account*.json
# Firebase credentials
firebase.json
*.json
#################################
# JAVA / SPRING
#################################
target/
*.log

#################################
# NODE / NEXT.JS
#################################
node_modules/
.next/
out/
dist/
build/

#################################
# IDE
#################################
.idea/
.vscode/

#################################
# OS
#################################
.DS_Store
Thumbs.db